body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #7ac2b6;
}
.quem-somos{
    background-color: blueviolet;
    color: white;
}
.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}
.parceiros{
    background-color: rgb(156, 92, 137);
}
.serviços{
    background-color: rgb(218, 198, 236);
}
.bg-footer{
    background-color: blueviolet;
    color: white;
}